@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;700&display=swap');

.hero{
    height: fit-content;
}
.secondSectionTitle {
    font-size: 48px;
    font-weight: 700;
    color: #027FCA;
}

.history-section {
    background-color: rgba(45, 45, 45, 0.3);
    padding: 20px 30px;
    max-width: 410px;
    margin: auto;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.history-title {
    color: #027fca;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
}

.history-content {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 18px;
    font-weight: normal;
    /* word-spacing: 2px; */
    line-height: 40px;
    text-align: center;

}

.arrowImage{
    width: 80%;
}