/* Logo */
#root>div>nav>div>a>img {
    width: 70%;
    height: 70%;
}

nav.navbar {
    padding: 18px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 0.32s ease-in-out;
}

nav.navbar .navbar-nav a.nav-link.navbar-link {
    margin: 0px 20px;
    font-size: 21px;
    position: relative;
    color: #fff !important;
    letter-spacing: 0.8px;
    padding: 0 22px;
}

nav.navbar .navbar-nav a.nav-link.navbar-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: linear-gradient(to right, #53040B, #0088D7);
    transition: width 1s ease-in-out;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover::before,
nav.navbar .navbar-nav a.nav-link.navbar-link.active::before {
    width: 100%;
}

.headerBtn {
    position: relative;
    transition: 0.3s ease-in-out;
    z-index: 1;
    font-size: 20px !important;
}

.headerBtn:hover {
    color: #121212 !important;
    font-weight: bold;
}

.headerBtn::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: -1;
    transition: width 0.3s ease-in-out;
    border-radius: 4px;
}

.headerBtn:hover::before {
    width: 100%;
}

nav.navbar.scrolled {
    padding: 0px 0;
    background-color: rgba(6, 17, 19, 0.8);
}

.BookAppointmentBtn {
    background: linear-gradient(to right, #53040B, #0088D7);
}

#navbarScroll form button {
    padding: 16px 32px;
}

/* Responsive styles */
@media (max-width: 1377px) {
    nav.navbar .navbar-nav a.nav-link.navbar-link {
        font-size: 18px;
    }

    #navbarScroll form button {
        padding: 16px;
        font-size: 18px !important;
    }
}

@media (max-width: 1235px) {
    nav.navbar .navbar-nav a.nav-link.navbar-link {
        font-size: 16px;
    }

    #navbarScroll form button {
        padding: 10px;
        font-size: 16px !important;
    }
}

.navbar-toggler {
    border: 1px solid #fff !important;
    background-color: #fff !important;
}

@media (max-width: 992px) {
    nav.navbar .navbar-nav a.nav-link.navbar-link {
        font-size: 14px;
    }

    #navbarScroll form button {
        padding: 8px 12px;
        font-size: 13px !important;
    }
}

@media (max-width: 768px) {
    nav.navbar {
        padding: 0px 0;
        background-color: rgba(6, 17, 19, 0.8);
    }

    .navbar-collapse {
        margin: 100px 0px;
    }

    nav.navbar .navbar-nav a.nav-link.navbar-link {
        font-size: 13px;
        padding: 0 15px;
    }

    #navbarScroll form button {
        padding: 8px;
        font-size: 12px !important;
    }
}
