.logoDiv {
    padding-right: 60px;
}
.copyRightsFooter{
    justify-content: space-between;
}

@media (max-width: 768px) {
    .logoDiv {
        padding-right: 0;
        text-align: center;
    }

    .logoDiv img {
        max-width: 80%;
    }

    .text-start {
        text-align: center !important;
    }

    .text-center p {
        margin: 5px 0;
    }

    .container.d-flex {
        flex-direction: column;
        align-items: center;
    }

    .container.d-flex p {
        margin-bottom: 10px;
    }
    
}

@media (max-width: 576px) {
    .logoDiv img {
        max-width: 100%;
    }

    .text-center p {
        font-size: 14px;
    }

    .container.d-flex {
        text-align: center;
    }

    .container.d-flex p {
        margin-bottom: 5px;
    }
 
}
